<main>
    <article>

      <!-- 
        - #CONTACT
      -->

      <section class="section contact has-bg-image" aria-labelledby="contact-label"
        style="background-image: url('./assets/images/contact-bg.png')">
        <div class="container">

          <form action="" class="contact-form">

            <h2 class="headline-sm" id="contact-label">Get in touch With <small>youngseshon@gmail.com</small></h2>

            <p class="contact-text body-md">
              I'm friendly would love to hear from you.
            </p>
          </form>

          <div class="contact-content">

            <ul class="contact-list">

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(177, 39%, 72%)">
                    <button ion-button name="call"></button>
                </div>

                <div>
                  <p class="label-lg">Phone</p>

                  <a href="tel:+251937912263" class="body-lg">+251 937 912 263</a>
                  <a href="tel:+251908033325" class="body-lg">P.no2 +251 908 033 325</a>
                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                    <button ion-button name="mail"></button>
                </div>

                <div>
                  <p class="label-lg">Mail</p>

                  <a href="mailto:youngseshon@gmail.com" class="body-lg">youngseshon@gmail.com</a>
                  <a href="mailto:youngsamiyt@gmail.com" class="body-lg">youngsamiyt@gmail.com</a>

                </div>

              </li>

              <li class="contact-item">

                <div class="item-icon" style="background-color: hsl(19, 97%, 85%)">
                    <button ion-button name="location"></button>
                </div>

                <div>
                  <p class="label-lg">Location</p>

                  <address class="body-lg">
                Addis Ababa,
                Ethiopia
                  </address>
                </div>

              </li>
              <li>
                <button name="home" style="background-color: hsl(19, 97%, 85%)"><a href="#top" color="black">Home</a></button>
              </li>

            </ul>

          </div>

        </div>
      </section>

    </article>
  </main>